@charset "utf-8";
/* Base css for entire project */

/* general declarations */
a {
	text-decoration:none;
	color:#000;
	border:none;
}

img {
	border:none;
}

.text {
	font-family:"Garamond", Times New Roman, Times, serif;
	/*font-size:14px;*/
	color:#000;
}

.underline {
	text-decoration:none;
}

.underline:hover {
	text-decoration:underline;
}

.hidden {
	display:none;
}

p.body-text {
	margin: 3px;
}

#copyright {
	float:right;
	clear:both;
	margin-right:1.6%;
	font-size:10px;
	letter-spacing: 1px;
}

#hover-text {
	position:absolute;
	z-index:-1;
	display:none;
}

.hover-text {
	width:100%;
	position:relative;
	top:50%;
	margin-top:-10px;
	text-align:center;
	
}
	

/* main body */
#body {
	width:90%;
	min-width:1030px;
	max-width:1236px;
	/*IE 6 min-width hack*/
	_width: expression(document.body.clientWidth < 1150 ? "1030px" : '90%');
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background:#fff;
}

#body-lower {
	width:97%;
	height:auto;
	float:left;
	margin-top:15px;
	padding-bottom:10px;
	overflow:hidden;
}

/* navigation */
#logo {
	width:350px;
	height:30px;
	float:left;
	margin: 64px 0px 0px 11px;
	background:#CCC;

}

.nav,.nav-bold {
	float:right;
	width:70px;
	height:15px;
	margin:79px 15px 0px 0px;
	font-size:15px;
	cursor:pointer;
	text-align:center;

}

.nav-bold {
	font-weight:bold;
}

.nav:hover {
	font-weight: bold;
}

#nav-contact {
	margin-right:19px;
	width:75px;
}

#nav-products {
	width:90px;
}

#nav-video {
	width:60px;
}

#nav-press {
	width:60px;
}

#nav-portfolio {
	width:100px;
}


/* images */

.img-back {
	width:100%;
	height:auto;
	float:left;
	clear:both;
}

.img-back-credits {
	width:40%;
	height:auto;
	float:left;
	clear:both;
}

#home-img-shown {
	float:left;
	position:relative;
	z-index:2;
	width:100%;
	height:auto;
	
}

#home-img-hidden {
	float:left;
	clear:both;
	margin-top:0px;
	width:100%;
	height:auto;
	
}

/* text */

.body-text-back,.body-text-back-credits {
	float:left;
	background:#fff;
	width:auto;
	height:auto;

}

.body-text {
	float:left;
	color:#333;
	padding: 10px 10px 10px 10px;
}

#about-us-text {
	float:right;
	width:500px;
	margin:70px 30px 0px 0px;
}

#video-text {
	float:right;
	width:300px;
	margin:180px 0px 0px 0px;
	margin-right: 60%;
}

#products-text {
	float:right;
	width:300px;
	margin:250px 0px 0px 0px;
	margin-right: 50%;
}

#contact-text {
	float:right;
	width:auto;
	margin:200px 0px 0px 0px;
	margin-right: 10%;
}

#credits-text {
	float:right;
	width:auto;
	height:100%;
	margin:10px 306px 0px 0px;

}

/* arrows */

#last-arrow,#next-arrow {
	float:left;
	width:100%;
	height:100%;
	cursor:pointer;
}

.arrow-container {
	float:left;
	clear:both;
	margin-top:15px;
	overflow:hidden;
	width:1.4%;
	opacity:0;
	filter:alpha(opacity=0);
}		

#next-arrow,#next-arrow-container {
	clear:none;
}

/* portfolio */
#animate-outer-container {
	width:408%;
	height:100%;
	float:left;
	margin-left:0px;	
	
}

#animate-outer-container.animate-outer-container-press {
	width: 202%;
	
}

.animate-inner-container,.animate-inner-container-press {
	float:left;
	width:25%;
	height:100%;
	overflow:hidden;
	margin-left:-1px;

}

.animate-inner-container-press {
	width: 50%;
	height:auto;

}

.img-back-portfolio,.img-back-press {
	float:left;
	width:33%;
	height:auto;
	opacity:0;
	filter: alpha(opacity=0);
}

.img-back-press {
	width:12.5%
}

/* video */

#jwplayer {
	float:left;
	clear:both;
	position:relative;
	z-index:-1;
	display:none;
}

.video-play-button {
	float:right;
	position:relative;
	z-index:1;
	width:7.5%;
	height:auto;
	margin:172px 0px 0px 0px;
	margin-right:51%;
	cursor:pointer;
}
