@charset "utf-8";
/* Base css for entire project */

/* general declarations */
@font-face {
	font-family: 'Garamond';
	src:url('/css/fonts/adobe_garamond_regular.ttf') format('truetype');
	src:local('Garamond'),
	local('Adobe Garamond Regular')
}

a {
	text-decoration:none;
	color:#000;
	border:none;
}

img {
	border:none;
}

.text {
	font-family:Arial, "Helvetica", sans-serif;
	/*font-size:14px;*/
	color:#000;
}

.underline {
	text-decoration:none;

}

.underline:hover {
	text-decoration:underline;
}

.hidden {
	display:none;
}

p.body-text {
	margin: 3px;
	color:#666;
}

.larger-text {
	font-size:1.4em;
}

.larger-line {
	line-height:1.5em;
}

.grey {
	color:#666;
}


#copyright {
	float:right;
	clear:both;
	margin-right:1.6%;
	font-size:10px;
	letter-spacing: 1px;
	color:#999;
}

#hover-text {
	position:absolute;
	z-index:-1;
	display:none;
}

.hover-text {
	width:100%;
	position:relative;
	top:50%;
	margin-top:-10px;
	text-align:center;
	padding:0px 0px 0px 0px;
}

.hover-text-small {
	margin-top:-22px;
	font-size:14px;
}

.whiteout {
	width:100%;
	height:auto;
}
	

/* main body */
#body {
	width:90%;
	min-width:990px;
	max-width:1236px;
	/*IE 6 min-width hack*/
	_width: expression(document.body.clientWidth < 1150 ? "1030px" : '90%');
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background:#fff;
}

#body-lower {
	width:97%;
	height:auto;
	float:left;
	margin-top:15px;
	padding-bottom:10px;
	overflow:hidden;
}

/* navigation */
#logo {
	width:350px;
	height:30px;
	float:left;
	margin: 20px 0px 0px 11px;
	background:#CCC;

}

.nav,.nav-bold {
	font-family:"Garamond", Times New Roman, Times, serif;
	float:right;
	width:70px;
	height:15px;
	margin:36px 30px 0px 0px;
	font-size:15px;
	cursor:pointer;
	text-align:center;

}

.nav-bold {
	font-weight:bold;
}

.nav:hover {
	font-weight: bold;
}

#nav-contact {
	margin-right:19px;
	width:75px;
}

#nav-products {
	width:90px;
}

#nav-video {
	width:60px;
}

#nav-press {
	width:60px;
}

#nav-portfolio {
	width:100px;
}


/* images */

.img-back {
	width:100%;
	height:auto;
	float:left;
	clear:both;
}

.img-back-credits,.img-back-contact,.img-back-about {
	width:50%;
	height:auto;
	float:left;
	clear:both;
}

.img-back-about {
	width:33.3333%;
}

#home-img-shown {
	float:left;
	position:relative;
	z-index:2;
	width:100%;
	height:auto;
	
}

#home-img-hidden {
	float:left;
	clear:both;
	margin-top:0px;
	width:100%;
	height:auto;
	
}

/* text */

.body-text-back,.body-text-back-credits {
	float:left;
	background:#fff;
	width:auto;
	height:auto;

}

.body-text {
	float:left;
	color:#333;
	padding: 10px 10px 10px 10px;
}

#about-us-text {
	float:right;
	width:500px;
	margin:2.5% 10% 0px 0px;
	text-align:justify;
	line-height:2em;
	font-size:12px;
}

#video-text {
	position:relative;
	bottom:350px;
	float:right;
	width:320px;
	margin:45% 20% 0px 0px;
	font-size:16px;
	background:none;
}

#products-text {
	position:relative;
	float:right;
	width:25%;
	margin:43% 32% 0px 0px;
	background:none;
	font-size: 14px;
}

#contact-text {
	float:right;
	width:28%;
	margin:20% 8% 0px 0px;
	background:none;
	font-size: 14px;
}

#credits-text {
	float:right;
	width:auto;
	height:100%;
	margin:7% 20% 0px 0px;
	font-size:14px;

}

/* arrows */

#last-arrow,#next-arrow {
	float:left;
	width:100%;
	position:relative;
	height:100%;
	cursor:pointer;
	z-index:100;
}

.arrow-container {
	float:left;
	clear:both;
	margin-top:15px;
	overflow:hidden;
	width:1.4%;
	opacity:0;
	filter:alpha(opacity=0);
}		

#next-arrow,#next-arrow-container {
	clear:none;
}

/* portfolio */
#animate-outer-container {
	width:408%;
	height:100%;
	float:left;
	margin-left:0px;	
	
}

#animate-outer-container.animate-outer-container-press {
	width: 202%;
	
}

.animate-inner-container,.animate-inner-container-press {
	float:left;
	width:25%;
	height:100%;
	overflow:hidden;
	margin-left:-1px;

}

.animate-inner-container-press {
	width: 50%;
	height:auto;

}

.img-back-portfolio,.img-back-press {
	float:left;
	width:100%;
	height:auto;
	opacity:0;
	filter: alpha(opacity=0);
}

.img-back-portfolio-container,.img-back-press-container {
	float:left;
	width:33%;
	height:auto;
}

.img-back-press-container {
	width:12.5%
}

/* sliding animation boxes for press and portfolio */

.animate-slide-outer {
	position:absolute;
	z-index:-1;

}

.animate-slide-inner {
	height: 100%;
	width:1200px;
	display:block;
	margin:0 auto;
	text-align:center;
	float:left;

}

.img-view-container {
	float:left;
	display:block;
	margin:0 auto;
	text-align:center;
	
}

.img-view {
	height: 100%;
	width:auto;
}

/* video */

#jwplayer {
	float:left;
	clear:both;
	position:relative;
	z-index:-1;
	display:none;
}

.video-play-button {
	float:right;
	position:relative;
	z-index:1;
	width:5%;
	opacity:.8;
	filter:alpha(opacity=80);
	height:auto;
	margin:22% 32% 0px 0px;
	cursor:pointer;
}

.video-play-button:hover {
	opacity:1;
	filter:alpha(opacity=100);
}


/* dropdowns */

.nav-dropdown {
	float:left;
	clear:both;
	margin-top:0px;
	padding:8px 0px 0px 20%;
	text-align:left;
	font-size:12px;
	width:100%;
}

.dropdown-outer {
	position:absolute;
	overflow:hidden;
	width:90px;
	height:auto;
	padding: 3px 3px 5px 5px;
	background:#fff;
	z-index:2;
}

.dropdown-inner {
	width:100%;
	height:auto;
	z-index:3;
}



/*override general declarations */

.red {
	color:#B90000;
}
