@charset "utf-8";
/* turn off all of display on load for home */

.nav,.nav-bold,.img-back,#logo,#copyright {
	opacity:0;
	filter:alpha(opacity=0);
}

#animation-container {
	width:600px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-200px 0px 0px -300px;
	overflow:hidden;
}

#animation-container-inner {
	float:left;
	width:5000px;
	height:500px;
	margin-left:0px;
}

.animation-text {
	position:absolute;
	top:50%;
	left:50%;
	float:left;
	margin:-200px 0px 0px -2450px;
	letter-spacing:20px;
}

#animation-text1 {
	position:absolute;
}

#animation-text2 {
	margin-left:300px;	
}

#animation-logo {
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0px 0px -200px;
	opacity:0;
	filter:alpha(opacity=0);
	height:auto;
	width:400px;
}
