@charset "utf-8";
/* video css */

#jwplayer {
	float:left;
	clear:both;
	position:relative;
	z-index:-1;
	display:none;
}

.video-play-button {
	float:left;
	clear:both;
	position:relative;
	z-index:1;
	width:7.5%;
	height:auto;
	margin:-500px 0px 0px 100px;
	cursor:pointer;
}

